/* index.php styling*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: Arial, sans-serif;
}

body {
    min-height: 100vh;
}

h1 {
    margin-top: 10px;
    text-align: center;
    text-shadow: 2px 2px 2px gray;
}

h2 {
    text-shadow: 2px 2px 2px gray;
}

main {
    padding: 20px;
}

section#todoitems {
    height: 60vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

section#additem {
    margin-top: 20px;
}

section {
    padding: 20px;
    border: 3px solid #8500EB;
    border-radius: 5px;
    box-shadow: 2px 2px 2px gray;
}

.add-item-boxes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
}

#add-item-form {
    display: flex;
    justify-content: space-between;
}

.add-item-boxes > input {
    height: 40%;
    margin: 3px 0;
    padding: 10px;
    font-size: 1rem;
    color: #8500EB;
}

.add-item-boxes > input:hover, :focus {
    outline: none;
    border: 2px solid #8500EB;
    border-radius: 5px;
    box-shadow: 2px 2px 2px gray;
}

.add-button {
    min-height: 60px;
    min-width: 60px;
    padding: 5px;
    color: #8500EB;
    font-weight: bold;
    border: 2px solid #8500EB;
    border-radius: 5px;
    box-shadow: 2px 2px 2px gray;
}

.add-item-button-box {
    display: flex;
    align-items: center;
}

/* list.php styling */

#no-items {
    align-self: center;
    margin-top: 20%;
}

.full-width-item-div {
   padding: 10px 0;
   margin-bottom: 5px;
   border-bottom: 2px solid #8500EB;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   font-size: 1.2rem;
}

.title {
    font-weight: bold;
}

.delete-form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.delete-x {
    background: transparent;
    border: 0;
    color: red;
    font-size: 2rem;
    width: 30px;
    height: 30px;
    text-shadow: 2px 2px 2px gray;
    margin-right: 10px;
}

/* media query */

@media only screen and (min-width: 786px) {
    html {
        font-size: 28px;
    }

    .add-button {
        min-height: 150px;
        min-width: 20vw;
        font-size: 1.5rem;
        border-width: 3px;
        box-shadow: 4px 4px 4px gray;
        text-shadow: 1px 1px gray;
    }

    section {
        border-width: 5px;
    }
}



